* {
  padding: 0;
  margin: 0;
}

.home {
  width: 100vw;
  height: 680px;
  background: rgba(57, 166, 255, 1);
}

.banner {
  display: inline-flex;
  width: 85%;
  height: fit-content;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 0px;
}

.lbanner {
  height: fit-content;
  text-align: left;
  display: block;
}

.lbl {
  font-size: 4rem;
}

.lm {
  height: fit-content;
  display: inline-flex;
  margin: 50px auto;
  gap: 50px;
}

.b-marg-ud {
  cursor: pointer;
  margin: auto;
}
.wtbl {
  display: inline-flex;
  width: fit-content;
  background: white;
  color: rgba(57, 166, 255, 1);
  background: white;
  padding: 18px 25px;
  gap: 5px;
  border-radius: 7px;
  cursor: pointer;
}

.rbanner {
  height: fit-content;
}

.wcircle {
  position: relative;
  background: white;
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
}
.bcircle {
  position: absolute;
  margin: 0px;
  background: rgba(57, 166, 255, 1);
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
}

.rt {
  right: 0px;
  top: 0px;
}

.lb {
  bottom: 0px;
  left: 0px;
}

.bannimg {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -ms-transform: translate(-44%);
  transform: translate(-44%);
  z-index: 1;
}
